.about{
    width: 100%;
      padding-top: 10px;
      background-color: var(--background);
  
   
    .about-text{
      width: 550px;
    }
    .main_about{
      width: 1130px;
      max-width: 95%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .about-text h2{
      color: var(--foreground);
      font-size: 75px;
      text-transform: capitalize;
      margin-bottom: 20px;
    }
    .about-text h5{
      color: var(--foreground);
      letter-spacing: 2px;
      font-size: 22px;
      margin-bottom: 25px;
      text-transform: capitalize;
    }
    .about-text p{
      color: var(--foreground);
      letter-spacing: 1px;
      line-height: 28px;
      font-size: 15px;
      margin-bottom: 45px;
      text-align: justify;
    }

    .about-img img{
      width: 80%;
      border-radius: 1rem;
    }
   
  }
  
  @media (max-width:768px){
    .about{
      width: 100%;
      .main_about{
        flex-direction: column;
        
    .about-img img{
      width: 0100%;
      border-radius: 1rem;
      margin-bottom: 5rem;
    }
        .about-text{
          width: 100%;
          padding: 1rem 5rem;
        }
      }
    }
  }
  @media (max-width: 700px){
    .about{
      width: 100%;
      .main_about{
        flex-direction: column;
        
    .about-img img{
      width: 0100%;
      border-radius: 1rem;
      margin-bottom: 5rem;
    }
        .about-text{
          width: 100%;
          padding: 2.5rem;
        }
      }
    }
  }
  @media (max-width: 398px){
    .about{
      width: 100%;
      .main_about{
        flex-direction: column;
        
    .about-img img{
      width: 0100%;
      border-radius: 1rem;
      margin-bottom: 5rem;
    }
        .about-text{
          width: 100%;
          padding: 1rem;
        }
      }
    }
  }