@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');


*{

  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar{
    width: 1rem;;
  }

  &::-webkit-scrollbar-track{
    background: #5c5b5b;
  }

  &::-webkit-scrollbar-thumb{
    background: #ff7722;
    border-radius: 5rem;
  }
}

body{
  background: var(--background);
  padding-bottom: .5rem;
  font-family: 'Poppins', sans-serif;
}

 

section{
  padding: 3rem 9%;
}

.heading{
  font-size: 6vw;
  text-align: center;
  color: var(--foreground);
  margin-bottom: 3rem;
  text-transform: uppercase;

  span{
    text-transform: uppercase;
    color: #ff7722;
  }
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  font-family: 'Courier New', Courier, monospace;
  background: #1f1f1f;
  color: #ffffff;
  border: 3px dotted #ff7722;
  padding:.7rem;
  font-size: 1.7rem;
  padding-left: 2rem;
  font-weight: 600;

  i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.7rem;
    text-align: center;
    background: #ffff;
    color: #ff7722;
    border-radius: 50%;
    margin-left: 1rem;
    transition: .2s linear;
  }

  &:hover {
    margin-left: 2rem;
    background: #1f1f1f;
    color: #ffffff;
  }
  &:hover i{
    margin-left: 2rem;

  }
}
.smBtn{
  display: inline-block;
  border-radius: 5rem;
  font-family: 'Courier New', Courier, monospace;
  background: #1f1f1f;
  color: #ffffff;
  border: 3px dotted #ff7722;
  padding: .5rem .7rem;
  font-size: 1.5rem;
  padding-left: 2rem;
  font-weight: 600;

  i{
    height: 3rem;
    width: 3rem;
    line-height: 2rem;
    font-size: 1.4rem;
    text-align: center;
    background: #ffff;
    color: #ff7722;
    border-radius: 50%;
    margin-left: 1rem;
    transition: .2s linear;
    padding: .5rem .7rem;
  }

  &:hover {
    margin-left: 2rem;
    background: #1f1f1f;
    color: #ffffff;
  }
  &:hover i{
    margin-left: 2rem;

  }
}

.navbar{
  position: fixed;
  top:0; left:0; right:0;
  display: flex;
  z-index: 1000;
  margin-bottom: 30px;
  box-shadow: -3px -3px 7px #9e9e9e;


}






footer{
  width: 100%;
  text-align: center;
  padding: 20px 10px 10px;
  box-shadow: 0 -5px 5px -5px rgb(182, 181, 181);
  .footer_span{
    font-size: 13px;
    color: #5c5b5b;
  }
}











// media queries 

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

  section{
    padding:3rem 2rem;
  }

}

@media (max-width:794px){
  .home{
    .content{
      text-align: center;
      .--btns{
        display: flex;
        justify-content: center !important;
        align-items: center;
      } 
    }
  }
}
@media (max-width:768px){

  .heading{
    font-size: 8vw;
  }

  .navbar{

    a{

      i{
        padding:0;
      }

      span{
        display: none;
      }

      &:hover{
        padding-bottom: 2rem;
      }
    }
  }


.about{
  width: 100%;
  .main{
    flex-direction: column;
    .about-text{
      width: 100%;
    }
  }
}
  .contact .row form .inputBox input{
    width:100%;
    margin-bottom: 1rem;
  }
}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

}

.main {
  max-width: 100%;
  overflow: hidden;
}
